.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background);
  color: var(--text);

  form {
    div.ui.input input {
      background: transparent;
      color: var(--text);
      border: 1px solid black;
    }

    button.ui.button {
      background: transparent;
      border: 1px solid black;
      color: var(--text);
    }

    button.ui.button:hover {
      background: var(--green);
    }
  }

  div.ui.card {
    background: transparent;
    border: 1px solid black;
    box-shadow: none;

    button.ui.button {
      background: transparent;
      color: var(--text);
      width: 100%;
      margin: auto;
    }

    button.ui.button:hover {
      background: var(--green);
    }
  }
}
